<%= form_with(model: gacha_content, local: true) do |form| %>
  <% if gacha_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gacha_content.errors.count, "error") %> prohibited this gacha_content from being saved:</h2>

      <ul>
      <% gacha_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-form-horizontal uk-margin-large">
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">日付</label>
      <div class="uk-form-controls">
        <%= form.date_field :lucky_day, value: gacha_content.lucky_day&.strftime('%Y-%m-%d'), class: 'uk-input uk-form-width-large'  %>
      </div>
    </div>      
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">レア度</label>
      <div class="uk-form-controls">
          <%= form.select :rarity, enum_select_options(GachaContent, :rarity), {}, class: 'uk-select uk-form-width-large' %>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">属性</label>
      <div class="uk-form-controls">
          <%= form.select :mark, enum_select_options(GachaContent, :mark), {}, class: 'uk-select uk-form-width-large' %>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">名前</label>
      <div class="uk-form-controls">
        <%= form.text_field :name, class: 'uk-input uk-form-width-large' %>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">何連？</label>
      <div class="uk-form-controls">
        <%= form.select :how_many, enum_select_options(GachaContent, :how_many), {}, class: 'uk-select uk-form-width-large' %>
        ※取得した方法
      </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">所持者</label>
      <div class="uk-form-controls">
        <%= form.collection_select :user_id, User.all, :id, :user_name, { include_blank: '選択してね！' }, class: 'uk-select uk-form-width-large' %>
        ※ユーザーを登録していないと入力できません！
    </div>
    </div>
    <div class="uk-margin">
      <div class="uk-form-controls"> 
        <%= form.submit 'ガチャ結果入力', class: 'uk-button uk-button-small uk-button-primary uk-width-large' %>
      </div>
    </div>
<% end %>
