<div>
  <h3>Gacha Contents</h3>
  <%= link_to 'New Gacha Content', new_gacha_content_path, class: 'uk-button uk-button-default uk-button-small' %>

  <table class='uk-table uk-table-hover uk-table-divider table table-striped table-bordered table-hover'>
         <thead>
          <tr>
            <th class='uk-width-small'><%= sortable 'lucky_day', '日付' %></th>
            <th><%= sortable 'rarity', 'レア度' %></th>
            <th><%= sortable 'name', '名前' %></th>
            <th><%= sortable 'how_many', '何連' %></th>
          </tr>
      </thead>
      <tbody>
          <% @gacha_contents.each do |gc| %>
            <tr>
                <td><%= gc.lucky_day.strftime('%Y年%m月%d日') %></td>
                <td><%= gc.rarity %></td>
                <td><%= gc.name %></td>
                <td><%= gc.how_many %></td>
                <td><%= link_to 'Show', gc %></td>
                <td><%= link_to 'Edit', edit_gacha_content_path(gc) %></td>
                <td><%= link_to 'Destroy', gc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
      </tbody>
  </table>
</div>